/* below is custom css for LNQ squeeze page, not from the bootstrap template */

/*sass varibls should go here*/
$blue: #5CA3D1;
$green: ;

a {
	color: black;
}
a:hover {
	text-decoration: none;
}
#agile-sign-up-form {
	margin: 0 auto;
	text-align: center;
}
#agile-sign-up-form .form-control {

}
.blue {
	color: #5CA3D1 !important;
}

.blue-lighter {
	color: #ACD0E7 !important;
}
body {

}
.btn-danger a {
	color: white;
}
.centered {
	margin: 0 auto;
}
#coming-soon {
	position: relative;
	top: 15px;
}
footer {
	/*border-top: 1px solid #eee;*/
	margin-top: 60px;
	padding: 30px;
	color: black !important;
	background-color: #eee;
}
footer img:hover {
	box-shadow: gray;
}
.footer-logo {
	width: 100px;
}
form {
	text-align: center;
	margin: 0 auto;
}
form input {
	text-align: center;
}
h1:hover {
	text-decoration: none;
}
h3 {
	padding: 15px;
	color: black;
	font-size: 16px;
}
h6 a {
	color: black;
}
h6 a:hover {
	color: red;
}
.green {

}
.logo {
   max-width: 200px;
   margin: 0 auto;
   position: relative;
   bottom: -22px;
}
#team h2 {
	color: #5CA3D1;
}
.team-leader-box {		
	padding-top: 35px;
	/*box-shadow: 1px 1px 5px rgba(92,163,209,0.3); /* transparent blue */*/
}
/*for the hamburger menu icon*/
#menu-toggle {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
	outline: none;
	border: none;
}
#menu-toggle:hover, #menu-toggle:active, #menu-toggle:visited {
	border-radius: 0px;
}
#nav-desktop {
	position: absolute;
	top: 20px;
	left: 0px;
	font-size: 18px;
	/*font-family: Arial;*/
	font-weight: 400;
	font-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}
#nav-desktop ul {
	position: absolute;
	top: 0;
	right: 25px;
	text-align: center;
	padding: 0;
	margin: 0 0 0 0;
	list-style: none;
	text-decoration: none;
	max-width: 500px;
}
#nav-desktop ul li {
	float: left;

}

#nav-desktop ul li a {
	padding: 20px 25px;
	/*color: red;*/
	color: gray;

}
#nav-desktop ul li a:hover {
	color: red;
	/*background-color: #eee;*/
	border-radius: 0px;
	/*color: black;*/
}
#newsletter-desktop-sign-up {
	position: absolute;
	top: 50px;
	right: 40px;
}

.no-border-before {
	box-shadow: none !important;
	border-top: none;
}
#portfolio-items {
	padding: 0;
}
#portfolio-items h3 {
	padding-bottom: 30px;
}
#portfolio-items small {
	text-align: right;
	float: right;
	color: gray;
}
#portfolio-items ul {
	width: 100vw;
	position: relative;
	left: 0;
}
#portfolio-items ul li {
	position: relative;
	left: -15px;
	background: white;
	padding: 40px;
	width: 100%;
	text-align: left;
	list-style-type: none;
}
@media only screen and (min-width: 768px) {
	#portfolio-items ul li {
		width: 50% !important;
		float: left;
		height: 380px;
	}
}

#portfolio-items div {
	width: 100%;
}
#portfolio-items div a {
	color: red;
	text-align: right !important;
	float: right;
	width: 100%;
	font-size: 16px;
}
#portfolio-items h4 {
	color: black;
	font-size: 22px;
	text-align: right;
}
#portfolio-items .portfolio-item-description {
	margin: 20px;
	font-size: 18px;
	text-align: left;
}
#portfolio-items ul li {
}
#portfolio-items ul li:hover {
	background-color: #eee;
	color: black;
}
section {
	padding: 40px;
}
.red-line-after:after {
 	width:10%; 
 	height:1px; 
 	background: red; 
 	content:"";
 	text-align: center;
 	margin: 0 auto;
 	margin-top: 40px;
}
.red-line-before:before {
 	width:10%; 
 	height:1px; 
 	background: red; 
 	content:"";
 	text-align: center;
 	margin: 0 auto;
 	margin-bottom: 40px;
 }
#social-container img {
	color: gray;
}
#social-container a {
	padding: 20px;
	cursor: pointer;
}
h1 {
	color: gray;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 22px;
}
.team-leader-box h3 {
	font-size: 18px;
}
.team-leader-box p {
	padding: 15px;
}
.team-leader-box span {
	color: #5CA3D1;
	font-size: 16px;
}

/* begin media query specific styling below */

@media only screen and (max-width: 767px) {
	.team-leader-box {
		width: 100hw;
		/*padding-top: 15px;*/
		padding-bottom: 15px;
	}

	.team-leader-box p {
		font-size: 15px;
		padding-top: 25px;
	}

}/* for xs devices */

@media only screen and (min-width: 768px) {
	/*below begins temporary styling, while we don't have headshots. TODO */
	.team-leader-box p {
		font-size: 16px;
	}
	.leader-1 {
		margin-top: 140px;
	}
	.leader-2 {
		margin-top: 100px;
	}
	.leader-3 {
		margin-top: 180px;
	}
	.leader-4 {
		margin-top: 40px;
	}
	.leader-5 {
		margin-top: 120px;
	}
} /* for tablet and all larger */

@media only screen and (min-width: 768px) and (max-width: 991px) {

}/* for sm devices only */

@media only screen and (min-width: 992px) {

}/* for md and lg devices only */




