/* below is custom css for LNQ squeeze page, not from the bootstrap template */

/*sass varibls should go here*/
$blue: #5CA3D1;

a {
	color: black !important;
}
a:hover {
	text-decoration: none;
}
#article-1-circle-shape-example {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background-color: gray;
	color: white;
	font-size: 30px;
	border-radius: 90px;
	font-weight: 100 !important;
	font-family: Lato;
	/*border: 1px solid black;*/
	/*box-shadow: 5px 5px 15px gray;*/
}
#article-1-hover-effect-example li:hover {
	color: red;
	transition: 0.2s ease;
	transform: translate(15px, 0);
}
#agile-sign-up-form {
	margin: 0 auto;
	text-align: center;
}
#agile-sign-up-form .form-control {

}
.arrow-styling {
	font-size: 30px;
	color: red;
	position: relative;
	top: 15px;
	left: 5px;
}
#articles-page a {
	color: black;
}
#articles-page .btn-danger a {
	color: white !important;
}
#articles-page h3 {
	font-size: 28px;
}
#articles-page p {
	margin: 20px 10px;
}
#articles-page p, ol {
	font-size: 18px;
}
#articles-page h3 {
	color: red;
}
#articles-page #social-container {
	position: absolute;
	top: 30px;
	width: 100%;
	margin: 0 auto;
}
#articles-page #articles-stay-in-touch-button {
	position: relative;
	top: -60px;
}
.article-section {
	max-width: 900px;
	margin: 0 auto;
}
.article-thumbnail {
	height: 250px;
	min-width: 230px;
	/*width: 250px;*/
	/*background-color: #303030;*/
	box-shadow: 0px 0px 5px #ddd;	
	margin: 10px;
}
.article-thumbnail:hover {
	/*outline: 1px solid red;*/
	transform: ease 0.1s;
	cursor: pointer;
	box-shadow: 5px 5px 0px gray;
}
.article-thumbnail h2 {
	font-size: 24px;
}
#article-1 {
	background-image: url(../images/background-low_contrast_linen.png);
}
#article-1 h2 {
	color: white;
}
#article-2 {
	background-image: url(../images/background-low_contrast_linen.png);
}
#article-2 h2 {
	color: white;
}
#article-3 {
	background-image: url(../images/background-low_contrast_linen.png);
}
#article-3 h2 {
	color: white;
}
.background-gray {
	background-color: #ddd;
}
.black {
	color: black;
}
.blue {
	color: #5CA3D1 !important;
}
.blue-lighter {
	color: #ACD0E7 !important;
}
body {

}
.box-shadow {
	box-shadow: 5px 5px 10px gray;
}
.btn-danger {
	color: white !important;
}
.btn-danger a {
	color: white !important;
}
.caution-icon {
	position: relative;
	top: 0px;
	left: -130px;
}
.centered {
	margin: 0 auto;
}
#coming-soon {
	position: relative;
	top: 15px;
}
@media only screen and (max-width: 484px) {
	#coming-soon {
		font-size: 22px;
	}
}
#consulting-page main p, #consulting-page main ul li {
	font-size: 18px;
}
/*for simple desktop navigation*/
#index-page nav a {
	color: gray;
}
#index-page #index-about-section {
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	top: -100px;
}
#index-page #index-about-section p {
	font-size: 16px;
	line-height: 1.5;
}
#index-page #portfolio-items a {
	color: red;
}
#index-page #social-container-index {
	position: relative;
	top: -100px;
	margin: 0 auto;
	width: 100%;
}
@media only screen and (max-width: 767px) {
	#index-page #social-container-index p {
		position: relative;
		top: 50px;
	}
}
#desktop-nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 50px;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	z-index: 15;
}
#desktop-nav ul {
	max-width: 430px;
	float: right;
	box-shadow: 5px 0px 5px #ddd;
}
#desktop-nav ul li {
	text-decoration: none;
	list-style-type: none;
	padding: 15px 20px;
	float: left;
}
#desktop-nav ul li:last-child {
	padding-right: 25px;
}
#desktop-nav ul li a:hover {
	color: red;
}
#desktop-nav ul li.current-page {
	background: #f2f2f2;
}
#dekstop-nav ul li a {
	color: gray !important;
	font-size: 18px;
	font-weight: 200px;
}
#dekstop-nav ul li a:visited {
	color: gray !important;
}
/*end for simple desktop navigation*/
footer {
	/*border-top: 1px solid #eee;*/
	margin-top: 60px;
	padding: 30px;
	color: black !important;
	background-color: #eee;
}
footer img:hover {
	box-shadow: gray;
}
.footer-logo {
	width: 100px;
}
form {
	text-align: center;
	margin: 0 auto;
}
form input {
	text-align: center;
}
.gray {
	color: gray;
}
h1:hover {
	text-decoration: none;
}
h3 {
	padding: 15px;
	color: black;
	font-size: 16px;
}
h6 a {
	color: black;
}
h6 a:hover {
	color: #D95450;;
}
.image-icon-size img {
	max-height: 140px;
}
#consulting-page .header {
	padding: 40px 100px 10px 100px !important;
	/*max-height: 120px;*/
}
.green {

}
.logo {
   max-width: 200px;
   margin: 0 auto;
   position: relative;
   bottom: -22px;
}
#team h2 {
	color: #5CA3D1;
}
.team-leader-box {		
	padding-top: 35px;
	/*box-shadow: 1px 1px 5px rgba(92,163,209,0.3); /* transparent blue */*/
}
.max-width-500 {
	max-width: 600px;
	margin: 0 auto;
}
/*for the hamburger menu icon*/
#menu-toggle {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 20px;
	outline: none;
	border: none;
}
#menu-toggle:hover, #menu-toggle:active, #menu-toggle:visited {
	border-radius: 0px;
}
#nav-desktop {
	position: absolute;
	top: 20px;
	left: 0px;
	font-size: 18px;
	/*font-family: Arial;*/
	font-weight: 400;
	font-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}
#nav-desktop ul {
	position: absolute;
	top: 0;
	right: 25px;
	text-align: center;
	padding: 0;
	margin: 0 0 0 0;
	list-style: none;
	text-decoration: none;
	max-width: 500px;
}
#nav-desktop ul li {
	float: left;

}

#nav-desktop ul li a {
	padding: 20px 25px;
	/*color: red;*/
	color: gray;

}
#nav-desktop ul li a:hover {
	color: #D95450;
	/*background-color: #eee;*/
	border-radius: 0px;
	/*color: black;*/
}
#newsletter-desktop-sign-up {
	position: absolute;
	top: 50px;
	right: 40px;
}

.no-border-before {
	box-shadow: none !important;
	border-top: none;
}
#portfolio-items {
	padding: 0;
}
#portfolio-items h3 {
	padding-bottom: 30px;
}
#portfolio-items small {
	text-align: right;
	float: right;
	color: gray;
}
#portfolio-items ul {
	width: 100vw;
	position: relative;
	left: 0;
}
#portfolio-items ul li {
	position: relative;
	left: -15px;
	background: white;
	padding: 40px;
	width: 100%;
	text-align: left;
	list-style-type: none;
}
@media only screen and (min-width: 768px) {
	#portfolio-items ul li {
		width: 50% !important;
		float: left;
		height: 400px;
	}
}

#portfolio-items div {
	width: 100%;
}
#portfolio-items div a {
	color: red;
	text-align: right !important;
	float: right;
	width: 100%;
	font-size: 16px;
}
#portfolio-items h4 {
	color: black;
	font-size: 22px;
	text-align: right;
}
#portfolio-items .portfolio-item-description {
	margin: 20px;
	font-size: 18px;
	text-align: left;
}
#portfolio-items ul li {
}
#portfolio-items ul li:hover {
	background-color: #eee;
	color: black;
}
section {
	padding: 40px;
}
.red {
	color: #D95450;
}
.red-line-after:after {
 	width:150px; 
 	height:1px; 
 	background: red; 
 	content:"";
 	text-align: center;
 	margin: 0 auto;
 	margin-top: 40px;
 	position: relative;
 	top: 40px;
}
.red-line-before:before {
 	width:150px; 
 	height:1px; 
 	background: red; 
 	content:"";
 	text-align: center;
 	margin: 0 auto;
 	margin-bottom: 40px;
}
#resume-page h3 {
	color: red;
}
#resume-page a {
	color: black;
	font-weight: 600;
}
#resume-title {
 	position: relative;
 	top: -20px;
}
.smaller-description {
	font-size: 12px !important;
}
.social-container img {
	color: gray;
}
.social-container a {
	padding: 20px;
	cursor: pointer;
}
.stronger {
	font-weight: 550;
}
.tagline2 {
	position: relative;
	width: 100%;
	top: 50px;
	line-height: 1.5;
	font-family: courier new;
	text-transform: lowercase;
}
@media only screen and (min-width: 768px) {
	.tagline2 {
		position: relative;
		top: 25px;
	}
}
@media only screen and (max-width: 419px) {
	#articles-page .social-container a {
		padding: 5px;
	}
}
h1 {
	color: gray;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 22px;
}
.team-leader-box h3 {
	font-size: 18px;
}
.team-leader-box p {
	padding: 15px;
}
.team-leader-box span {
	color: #5CA3D1;
	font-size: 16px;
}

/* begin media query specific styling below */
@media only screen and (min-width: 768px) and (max-width: 888px) {
	.taller-on-tablet {
		height: 500px !important;
	}
}
@media only screen and (min-width: 889px) {
	.taller-on-tablet {
		height: 480px !important;
	}
}

@media only screen and (max-width: 767px) {
	.team-leader-box {
		width: 100hw;
		/*padding-top: 15px;*/
		padding-bottom: 15px;
	}

	.team-leader-box p {
		font-size: 15px;
		padding-top: 25px;
	}
}
@media only screen and (min-width: 570px) and (max-width: 767px) {
	/*for styling of resume columns on xs size*/
	.col-xs-12 {
		width: 400px !important;
		margin-left: 20% !important;
	}
	#resume-title {
		position: relative;
		left: -20px;
	}
}
@media only screen and (min-width: 470px) and (max-width: 570px) {
	.col-xs-12 {
		width: 400px !important;
		margin-left: 10% !important;

	}
}
@media only screen and (max-width: 470px) {
	.col-xs-12 {
		width: 330px !important;
		margin-left: 5% !important;

	}

}

@media only screen and (min-width: 768px) {
	/*below begins temporary styling, while we don't have headshots. TODO */
	.team-leader-box p {
		font-size: 16px;
	}
	.leader-1 {
		margin-top: 140px;
	}
	.leader-2 {
		margin-top: 100px;
	}
	.leader-3 {
		margin-top: 180px;
	}
	.leader-4 {
		margin-top: 40px;
	}
	.leader-5 {
		margin-top: 120px;
	}
} /* for tablet and all larger */

@media only screen and (min-width: 768px) and (max-width: 991px) {

}/* for sm devices only */

@media only screen and (min-width: 992px) {

}/* for md and lg devices only */


