/*this sheet contains custom styles for forms and input fields*/
/*several styles seem to be carrying over from bootstrap*/

/*THE BENOY IS SUFFICIENT FOR THE FORM FOR NEW_LEAD_PATH, NOT AGILE FORM*/
.field-input-area input, textarea {
	margin: 10px 0 10px 0;
	font-size: 16px;
	box-shadow-top: none;
	box-shadow-left: none;
	box-shadow-right: none;	
	box-shadow-bottom: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ddd;
	width: 50%;
	min-width: 300px;
	border-radius: 0;
	outline-width: 0;	
	line-height: 30px;
	color: red;
	font-weight: 200;
}
.field-input-area input:hover, .field-input-area input:active, .field-input-area input:focus, textarea:hover, textarea:active, textarea:focus {
	/* todo why upon focus is it turning blue outline?*/
	box-shadow-top: none;
	box-shadow-left: none;
	box-shadow-right: none;
	box-shadow-bottom: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid red;
	transition: 0.1s ease;
	width: 50%;
	min-width: 300px;
	border-radius: 0;
	outline-width: 0;
}
.field-input-area:focus {
	box-shadow-top: none;
	box-shadow-left: none;
	box-shadow-right: none;
	box-shadow-bottom: none;
	border: none;
	outline-width: 0;
}
button:visited, button:active, button:focus, button:hover {
	outline: none;
	outline-width: 0 !important;

}
legend {
	font-size: 18px;
	font-weight: 200;
	padding: 15px;
}


